body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* background: url(iphonese1.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color:white;
    margin: 0;
  }

  p{
    font-size: 20px;
    margin-top: -30px;
  }
  
  h3{
    font-size: 30px;
    margin-top: -30px;
  }

  h4{
    font-size: 30px;
    margin-top: -30px;
    font-weight: 100;
  }

  h2{
    font-size: 50px;
    font-weight: 500;
  }
  .nav {
    list-style-type: none;
    margin-left:30%;
    margin-top: 0;
    margin-bottom: 0;
    border:0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
  }
  
  .nv {
    display: inline-block;
    text-align: center;
  }
  
  .topnav{
      margin: 0;
      position: relative;
      overflow: hidden;
      background-color: #111;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .iphonese{
    padding: 0;
    margin: 0;
    border: 0;
    position: relative;
    text-align: center;
    color: white;
    list-style-type:none;
  }

  .iphoneseb{
    padding: 0;
    margin: 0;
    border: 0;
    position: relative;
    text-align: center;
    color: black;
    list-style-type:none;
  }

  h1{
      font-size: 60px;
      font-weight: 600;
  }

  .img {
    position: relative;
   }

  .img h3 {
    position: absolute;
    width: 100%
    top: 85px;
    text-align: center;
  }

  *{
    box-sizing: border-box;
  }
  
  .columnl {
    float: left;
    width: 50%;
    padding-right: 5px; 
    padding-bottom: 5px;
    padding-left: 5px;
  }

  .column {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .centered {
    position: absolute;
    bottom: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centereda {
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .centeredb {
    position: absolute;
    bottom: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .footer {
   position: bottom;
   left: 0;
   bottom: 0;
   width: 100%;
   color:black;
   margin-top: 100px;
   text-align: center;
}